{{! template-lint-disable bare-strings }}
{{!-- BEGIN-SNIPPET table-api }}
  {{frost-table
    columns=(array
      (hash
        className= // e.g. 'name-column'
        headerRenderer= // a component to render the header for this column
        label= // e.g. 'Name'
        propertyName= // e.g. 'name'

        renderer= // a component to render the data cells for this column
      )
    )
    hook= // e.g. 'myTable'
    items=(array
      (hash
        name='Jane Doe'
      )
      (hash
        name='John Doe'
      )
    )
    selectedItems=selectedItems
    onCallback= // a handler that handles an object with {action, row, col, args}
    onSelectionChange=(action 'onSelectionChange')
  }}
{{ END-SNIPPET --}}


<div class='frost-demo-api'>
  <div class='frost-demo-title'>
    API
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='table-api.hbs'}}
  </div>
</div>
<div class='frost-demo-live'>
  <div class='frost-demo-title'>
    Live demo
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='table.hbs'}}
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='dispatcher-example.hbs'}}
  </div>
  <div class='frost-demo-launch'>
    {{! BEGIN-SNIPPET table }}
    {{frost-table
      onCallback=(action 'dispatchNotifications')
      onSelectionChange=(action 'onSelectionChange')
      columns=(array
        (hash
          headerRenderer=(component 'text-input-renderer')
          label='Name'
          propertyName='name'
        )
        (hash
          label='Real Name'
          propertyName='realName'
          renderer=(component 'text-input-renderer')
        )
        (hash
          label='Universe'
          propertyName='universe'
        )
      )
      hook='myTable'
      items=heroes
      itemKey='name'
      selectedItems=selectedItems
    }}
    {{! END-SNIPPET }}
  </div>
</div>
