{{! template-lint-disable bare-strings }}
{{!-- BEGIN-SNIPPET fixed-table-api }}
  {{frost-fixed-table
    columns=(array
      (hash
        className= // e.g. 'name-column'
        headerRenderer= // a component to render the header for this column
        label= // e.g. 'Name'
        propertyName= // e.g. 'name'
        renderer= // a component to render the data cells for this column
      )
    )
    hook= // e.g. 'myTable'
    items=(array
      (hash
        name='Jane Doe'
      )
      (hash
        name='John Doe'
      )
    )

    onCallback= // a handler that handles an object with {action, row, col, args}
  }}
{{ END-SNIPPET --}}
{{!-- BEGIN-SNIPPET dispatcher-example }}
    dispatchNotification ({action, row, col, args}) {
      // row will be -1 for events that come from the header row,
      // and zero indexed for data rows.
      Logger.log(action, row, col, args)
    }
{{ END-SNIPPET --}}


<div class='frost-demo-api frost-fixed-table-api'>
  <div class='frost-demo-title'>
    API
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='fixed-table-api.hbs'}}
  </div>
</div>
<div class='frost-demo-live'>
  <div class='frost-demo-title'>
    Live demo
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='fixed-table.hbs'}}
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='dispatcher-example.hbs'}}
  </div>
  <div class='frost-demo-launch frost-table-demo'>
    {{! BEGIN-SNIPPET fixed-table }}
    {{frost-fixed-table
      onCallback=(action 'dispatchNotifications')
      columns=(array
        (hash
          className='name-col'
          headerRenderer=(component 'text-input-renderer')
          frozen=true
          label='Name'
          propertyName='name'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
          renderer=(component 'text-input-renderer')
        )
        (hash
          className='real-name-col'
          label='Team Affiliations'
          propertyName='teamAffiliations'
        )
        (hash
          className='universe-col'
          frozen=true
          label='Universe'
          propertyName='universe'
        )
      )
      hook='myTable'
      items=heroes
      itemKey='name'
      selectedItems=selectedItems
      onSelectionChange=(action 'onSelectionChange')
    }}
    {{! END-SNIPPET }}
  </div>
</div>
