{{! template-lint-disable bare-strings }}
{{!-- BEGIN-SNIPPET fixed-table-api }}
  {{frost-fixed-table
    columns=(array
      (hash
        className= // e.g. 'name-column'
        label= // e.g. 'Name'
        propertyName= // e.g. 'name'
      )
    )
    hook= // e.g. 'myTable'
    items=(array
      (hash
        name='Jane Doe'
      )
      (hash
        name='John Doe'
      )
    )
  }}
{{ END-SNIPPET --}}


<div class='frost-demo-api frost-fixed-table-api'>
  <div class='frost-demo-title'>
    API
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='fixed-table-api.hbs'}}
  </div>
</div>
<div class='frost-demo-live'>
  <div class='frost-demo-title'>
    Live demo
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='fixed-table.hbs'}}
  </div>
  <div class='frost-demo-launch frost-table-demo'>
    {{! BEGIN-SNIPPET fixed-table }}
    {{frost-fixed-table
      columns=(array
        (hash
          className='name-col'
          frozen=true
          label='Name'
          propertyName='name'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
        )
        (hash
          className='real-name-col'
          label='Real Name'
          propertyName='realName'
        )
        (hash
          className='universe-col'
          frozen=true
          label='Universe'
          propertyName='universe'
        )
      )
      hook='myTable'
      items=heroes
    }}
    {{! END-SNIPPET }}
  </div>
</div>
