{{! Template for the frost-fixed-table component }}
<div
  class={{concat css '-header'}}
  data-test={{hook (concat hookPrefix '-header') hookQualifiers}}
>
  <div class={{concat css '-header-left'}}>
    {{frost-table-header
      cellTagName='div'
      rowTagName='div'
      columns=leftColumns
      hook=(concat hookPrefix '-header-left')
      hookQualifiers=hookQualifiers
      tagName='div'
      isSelectable=isSelectable

      onCallback=(action 'handleCallback' -1)
      onSelectionChange=onSelectionChange
    }}
  </div>
  <div class={{concat css '-header-middle'}}>
    {{#frost-scroll
      hook=(concat hookPrefix '-middleHeaderScroll')
      hookQualifiers=hookQualifiers
    }}
      {{! We pass a row index of -1 since the row indices are zero-based }}
      {{frost-table-header
        cellTagName='div'
        rowTagName='div'
        columns=middleColumns
        hook=(concat hookPrefix '-header-middle')
        hookQualifiers=hookQualifiers
        tagName='div'

        onCallback=(action 'handleCallback' -1)
      }}
    {{/frost-scroll}}
  </div>
  <div class={{concat css '-header-right'}}>
    {{frost-table-header
      cellTagName='div'
      rowTagName='div'
      columns=rightColumns
      hook=(concat hookPrefix '-header-right')
      hookQualifiers=hookQualifiers
      tagName='div'

      onCallback=(action 'handleCallback' -1)
    }}
  </div>
</div>

<div
  class={{concat css '-body'}}
  data-test={{hook (concat hookPrefix '-body') hookQualifiers}}
>
  <div class={{concat css '-left'}}>
    {{#frost-scroll
      hook=(concat hookPrefix '-bodyLeftScroll')
      hookQualifiers=hookQualifiers
    }}
      {{#each items as |item index|}}
        {{frost-table-row
          cellTagName='div'
          columns=leftColumns
          hook=(concat hookPrefix '-left')
          hookQualifiers=(extend hookQualifiers row=index)
          item=item
          itemKey=itemKey
          tagName='div'
          isSelectable=isSelectable
          selectedItems=selectedItems

          onCallback=(action 'handleCallback' index)
          onSelect=(action 'select')
        }}
      {{/each}}
    {{/frost-scroll}}
  </div>

  <div class={{concat css '-middle'}}>
    {{#frost-scroll
      hook=(concat hookPrefix '-bodyMiddleScroll')
      hookQualifiers=hookQualifiers
    }}
      {{#each items as |item index|}}
        {{frost-table-row
          class=(if isSelectable 'selectable' '')
          cellTagName='div'
          columns=middleColumns
          hook=(concat hookPrefix '-middle')
          hookQualifiers=(extend hookQualifiers row=index)
          item=item
          tagName='div'
          selectedItems=selectedItems

          onCallback=(action 'handleCallback' index)
          click=(action '_clickRow' index)
        }}
      {{/each}}
    {{/frost-scroll}}
  </div>

  <div class={{concat css '-right'}}>
    {{#frost-scroll
      hook=(concat hookPrefix '-bodyRightScroll')
      hookQualifiers=hookQualifiers
    }}
      {{#each items as |item index|}}
        {{frost-table-row
          class=(if isSelectable 'selectable' '')
          cellTagName='div'
          columns=rightColumns
          hook=(concat hookPrefix '-right')
          hookQualifiers=(extend hookQualifiers row=index)
          item=item
          tagName='div'
          selectedItems=selectedItems

          onCallback=(action 'handleCallback' index)
          click=(action '_clickRow' index)
        }}
      {{/each}}
    {{/frost-scroll}}
  </div>
</div>
