{{! template-lint-disable bare-strings }}
{{!-- BEGIN-SNIPPET table-row-api }}
  {{frost-table-row
    columns=(array
      (hash
        className= // e.g. 'name-column'
        label= // e.g. 'Name'
        propertyName= // e.g. 'name'
      )
    )
    cellCss= // e.g. 'frost-table-body'
    hook= // e.g. 'myTableRow'
    item=(hash
      name='Jane Doe'
    )
  }}
{{ END-SNIPPET --}}


<div class='frost-demo-api'>
  <div class='frost-demo-title'>
    API
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='table-row-api.hbs'}}
  </div>
</div>
<div class='frost-demo-live'>
  <div class='frost-demo-title'>
    Live demo
  </div>
  <div class='frost-demo-snippet'>
    {{code-snippet name='table-row.hbs'}}
  </div>
  <div class='frost-demo-launch'>
    {{! BEGIN-SNIPPET table-row }}
    <table class='frost-table'>
      <tbody class='frost-table-body'>
        {{frost-table-row
          cellCss='frost-table-body'
          columns=(array
            (hash
              label='Name'
              propertyName='name'
            )
            (hash
              label='Real Name'
              propertyName='realName'
            )
            (hash
              label='Universe'
              propertyName='universe'
            )
          )
          hook='myTableRow'
          item=heroes.[3]
        }}
      </tbody>
    </table>
    {{! END-SNIPPET }}
  </div>
</div>
